button {
  color: var(--vscode-button-foreground);
  border-radius: 0.4rem;
  border-style: solid;
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-weight);
  font-weight: var(--vscode-editor-font-size);
  width: 100%;
  height: 1.875rem;
  background-color: var(--vscode-button-background);
}
button:hover {
  background-color: var(--vscode-button-hoverBackground);
  cursor: pointer;
}