body {
  width: 88%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

button {
  color: var(--vscode-button-foreground);
  border-radius: 0.4rem;
  border-style: solid;
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-weight);
  font-weight: var(--vscode-editor-font-size);
  height: 1.875rem;
  width: 50%;
  min-width: 5%;
  display: inline;
  background-color: var(--vscode-button-background);
} button:hover {
  background-color: var(--vscode-button-hoverBackground);
  cursor: pointer;
}

p {
  display: inline;
}

li {
  list-style-type: none;
}

.toggle input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

body:has(.info .text-button.lsx:hover) .buttons-arrows .lsx-button.left-button,
body:has(.info .text-button.lsf:hover) .buttons-arrows .lsf-button.right-button {
  background-color: var(--vscode-button-hoverBackground);
}

body:has(.info .toggle input) .info.toggled {
  display: none;
}

body:has(.info .toggle input:checked) .info.toggled {
  display: block;
}

.info::before {
  content: ">";
  margin-right: 2%;
}

.info-debug {
  content: ">";
  margin-right: 2%;
  display: none;
}

.toggle-text {
  display: inline;
  cursor: pointer;
  font-weight: bold;
}

.toggled {
  margin-top: 3%;
  display: none;
}

.text-button {
  color: var(--vscode-button-foreground);
  display: inline;
  background-color: var(--vscode-button-background);
  border-radius: 0.3rem;
  border-style: solid;
  padding-left: 0.45rem;
  padding-right: 0.45rem;
} .text-button:hover {
  background-color: var(--vscode-button-hoverBackground);
  cursor: pointer;
}

.debug {
  display: none;
}

.buttons-arrows {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pack-button, .unpack-button {
  display: block;
  height: 3rem;
  width: 100%;
}

.right-button {
  flex: 1;
  flex-grow: 2;
}

.left-button {
  flex: 1;
  flex-grow: 2;
}

.center-arrows {
  flex: 1;
  text-align: center;
}